.elementor-750 .elementor-element.elementor-element-7539100 {text-align: center;}
.elementor-750 .elementor-element.elementor-element-7539100 .elementor-heading-title {color: #e6056b;}
.elementor-750 .elementor-element.elementor-element-8e978f1 .elementor-image img {border-style: groove;}
.elementor-750 .elementor-element.elementor-element-68a1c04 .elementor-image img {border-style: groove;}
.elementor-750 .elementor-element.elementor-element-136f771 .elementor-image img {border-style: groove;}
.elementor-750 .elementor-element.elementor-element-e8fe529 .elementor-image img {border-style: groove;}
.elementor-750 .elementor-element.elementor-element-9f0988f .elementor-image img {border-style: groove;}
.elementor-750 .elementor-element.elementor-element-2106e07 .elementor-image img {border-style: groove;}
.elementor-750 .elementor-element.elementor-element-b422656 .elementor-image img {border-style: groove;}