.elementor-616 .elementor-element.elementor-element-839e6de .elementor-text-editor {text-align: center;}
.elementor-616 .elementor-element.elementor-element-aef635f > .elementor-widget-container {margin: 0px 7px 0px 200px;}
.elementor-616 .elementor-element.elementor-element-aef635f {width: auto;max-width: auto;}
.elementor-616 .elementor-element.elementor-element-471dd5a > .elementor-widget-container {margin: 0px 7px 0px 7px;}
.elementor-616 .elementor-element.elementor-element-471dd5a {width: auto;max-width: auto;}
.elementor-616 .elementor-element.elementor-element-e592d8b > .elementor-widget-container {margin: 0px 7px 0px 7px;}
.elementor-616 .elementor-element.elementor-element-e592d8b {width: auto;max-width: auto;}
.elementor-616 .elementor-element.elementor-element-fe4c450 > .elementor-widget-container {margin: 0px 7px 0px 7px;}
.elementor-616 .elementor-element.elementor-element-fe4c450 {width: auto;max-width: auto;}