.elementor-621 .elementor-element.elementor-element-a707a97 .elementor-text-editor {text-align: center;}
.elementor-621 .elementor-element.elementor-element-e574397 > .elementor-widget-container {margin: 0px 7px 0px 200px;}
.elementor-621 .elementor-element.elementor-element-e574397 {width: auto;max-width: auto;}
.elementor-621 .elementor-element.elementor-element-7173681 > .elementor-widget-container {margin: 0px 7px 0px 7px;}
.elementor-621 .elementor-element.elementor-element-7173681 {width: auto;max-width: auto;}
.elementor-621 .elementor-element.elementor-element-1346cc7 > .elementor-widget-container {margin: 0px 7px 0px 7px;}
.elementor-621 .elementor-element.elementor-element-1346cc7 {width: auto;max-width: auto;}
.elementor-621 .elementor-element.elementor-element-3f8ad84 > .elementor-widget-container {margin: 0px 7px 0px 7px;}
.elementor-621 .elementor-element.elementor-element-3f8ad84 {width: auto;max-width: auto;}